<%= form_with model: expense, local: true, class: "row g-3" do |form| %>
  <div class="col-md-6">
    <%= form.label :claimer, "Claimer", class: "form-label" %>
    <%= form.select :claimer, options_for_select(@claimer_list), class: "form-select" %>
  </div>

  <div class="col-md-6">
    <%= form.label :date, class: "form-label" %>
    <%= form.date_select :date, class: "form-select" %>
  </div>

  <div class="col-12">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 3, placeholder: "Enter a brief description" %>
  </div>

  <div class="col-md-6">
    <%= form.label :amount, class: "form-label" %>
    <%= form.number_field :amount, step: 0.01, class: "form-control", placeholder: "Enter the amount" %>
  </div>

  <div class="col-md-6">
    <%= form.label :approved, class: "form-label" %>
    <div class="form-check">
      <%= form.check_box :approved, class: "form-check-input", id: "approvedCheck" %>
      <%= form.label :approved, class: "form-check-label", for: "approvedCheck" %>
    </div>
  </div>

  <div class="col-12 text-center">
    <%= form.submit "Save Expense", class: "btn btn-primary" %>
  </div>
<% end %>
