<h1 class="text-center my-5">Expense Claims</h1>

<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <%= link_to "View Stats", stats_expenses_path, class: "btn btn-info" %> <!-- Button for viewing stats -->
    <%= link_to 'New Expense', new_expense_path, class: "btn btn-success" %> <!-- Button for adding new expense -->
  </div>

  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Claimer</th>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Approved</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @expenses.each do |expense| %>
        <% decorator = ExpenseDecorator.new(expense) %>
        <tr>
          <td><%= decorator.display_claimer %></td>
          <td><%= decorator.display_name %></td>
          <td><%= decorator.formatted_date %></td>
          <td><%= expense.description %></td>
          <td><%= decorator.formatted_amount %></td>
          <td><%= decorator.approved_status %></td>
          <td>
            <%= link_to 'Edit', edit_expense_path(expense), class: "btn btn-primary btn-sm" %>
            <%= form_with model: expense, method: :delete, local: true do %>
              <%= submit_tag "Delete", class: "btn btn-danger btn-sm", onclick: "return confirm('Are you sure you want to delete this expense?');" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
